/* styles/Index.module.css */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items from the top */
    height: 100vh;
    padding-top: 60px; /* Push content down by the height of the navbar */
  }
  
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    width: 100%;
    max-width: 400px;
    border: 1px solid #5e5e5e;
    padding: 2rem;
  }
  
  /* Media query for smaller screens */
  @media (max-width: 600px) {
    .container {
      padding-top: 60px; /* Ensure padding is maintained on smaller screens */
    }
  
    .form {
      width: 90%; /* Adjust form width for smaller screens */
    }
  }